html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Noto Serif SC', 'SimSun', 'STSong', serif;
}

html.dark {
  color-scheme: dark;
}

:root {
  --c-primary: #ff7e7e;
}
